@page
@model WebApplication.Pages.ConsultingBankerManagerModel
@{
}
<div>
    <h1>Consulting Manager</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Transaction Unique Reference</th>
                <th>Transaction Amount</th>
                <th>Transaction Status</th>
                <th>Date</th>
                <th>Temp C</th>
                <th>Temp F</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.WeatherForecastItems)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.TemperatureC</td>
                    <td>@item.TemperatureF</td>
                    <td>@item.Summary</td>
                </tr>
            }
        </tbody>
    </table>
</div>
