@page
@model WebApplication.Pages.HumanResourceModel
@{
}

<div class="text-center">
    <h1 class="display-4">Human Resource</h1>
    <p>
        Welcome to the Human Resource Department Of the Maman's Digital Bank
    </p>
</div>